.rød {
  background-color: red;
}
.blå {
  background-color: blue;
}
.grønn {
  background-color: green;
}
.gul {
  background-color: yellow;
}
.svart {
  background-color: black;
}
.hvit {
  background-color: white;
}
.grå {
  background-color: gray;
}
.lilla {
  background-color: purple;
}
.oransje {
  background-color: orange;
}
.rosa {
  background-color: pink;
}
.brun {
  background-color: brown;
}
.cyan {
  background-color: cyan;
}
.magenta {
  background-color: magenta;
}
.limegrønn {
  background-color: lime;
}
.vinrød {
  background-color: maroon;
}
.marineblå {
  background-color: navy;
}
.olivengrønn {
  background-color: olive;
}
.teal {
  background-color: teal;
}
.sølv {
  background-color: silver;
}
.fuksia {
  background-color: fuchsia;
}
.aqua {
  background-color: aqua;
}
